@model IEnumerable<MyBeerBlog.Models.Beer>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Beer Blog</h1>
    <p class="lead">This is a sample application to showcase what I'm learning in ASP.NET MVC, as well as thoughts about beers I've tried, what I 
    like and don't like, etc.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest Posts</h2>
        <p>
            This is a latest post.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beer Education</h2>
        <p>This is going to be educational about the different types of beers.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Events</h2>
        <p>Where am I going to try beers next?</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>A List of Beers</h2>
@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="pull-left padding-right" src="../imgs/@item.ImageUrl" alt="Placeholder">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@item.Name</h4>
            Type: @item.Type<br />
            Company: @item.Company<br />
            Alcohol Content: @item.AlcoholContent<br />
            Calories per 12oz serving: @item.Calories<br />
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </div>
    </div>
    <hr />
}
    </div>
</div>